*/.ipynb_checkpoints/*
*/.vscode/*
*/out/*

*/train/*
*/validation/*
*/__pycache__/*

test/
yolov5
bisenet/checkpoints
bisenet/seg_results
bisenet/temp
bisenet/test

broccoli_data/
broccoli_data_2021/
Labelme.exe
test.ipynb

.vscode
.ipynb_checkpoints
*.pyc
