*/.ipynb_checkpoints/*
*/.vscode/*
*/out/*
*/input/*
.DS_Store


*/train/*
*/validation/*
*/__pycache__/*

test/
12_head_seg/bisenet/__pycache__
12_head_seg/bisenet/temp_results
12_head_seg/bisenet/ckpt
12_head_seg/bisenet/*.png
12_head_seg/*.png


broccoli_data/
broccoli_data_2021/
Labelme.exe
test.ipynb

.vscode
.ipynb_checkpoints
*.pyc
03_data_ana/label_check/*
02_raw_clip/*.png

10_agisoft_batch_tools/test/*
10_agisoft_batch_tools/config_test.json
03_data_ana/figures/compare_merge - 副本.png
03_data_ana/figures/compare_merge_220308.png
03_data_ana/figures/compare_merge_220912.png